@using MC.Office.Blazor.Testing.Components.Layout.Button
@inherits DrawerStateLayoutComponentBase
@inject NavigationManager NavigationManager

<div class="demo-header-container">
    <nav class="demo-header p-0 navbar navbar-dark" aria-label="Header menu">
        <ToggleButton @bind-Toggled="@LayoutToggled" />
        <div class="logo-image">
            <a href="https://www.devexpress.com/" target="_blank" title="DevExpress">
                <span class="logo-img"></span>
            </a>
            <div class="logo-sep"></div>
            <a href="" target="_blank" title="Blazor Demos Home Page">
                <span class="logo-sec-img"></span>
            </a>
        </div>
        <div class="demo-btn-container">
            <DxButton NavigateUrl="https://go.devexpress.com/DevexpressDownload_UniversalTrial.aspx"
                      CssClass="download-btn"
                      IconCssClass="fa-solid fa-download"
                      Text="Free Trial" SizeMode="SizeMode.Large"></DxButton>
            <DxButton NavigateUrl="https://github.com/DevExpress/blazor"
                      CssClass="github-btn"
                      IconCssClass="fa-brands fa-github"
                      RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline"
                      Text="GitHub" SizeMode="SizeMode.Large"></DxButton>
            <div class="btn-sep"></div>
            <DxButton Click="@ToggleThemeSwitcherPanel" CssClass="@GetThemeSwitcherCssClass()" SizeMode="SizeMode.Large"
                      RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-palette"
                      aria-label="Themes"
                      aria-haspopup="True"
                      aria-expanded="@(ThemeSwitcherShown.ToString())">
            </DxButton>
        </div>
        @* <ThemeSwitcher @bind-Shown="@ThemeSwitcherShown" /> *@
    </nav>
</div>

<div class="page">
    <Drawer CssClass="navigation-drawer" PanelWidth="240px" Toggled="@LayoutToggled">
        @* <HeaderTemplate>
            <div class="navigation-drawer-header">
                <NavLink href="@AddDrawerStateToUrl("/")">
                    <img class="logo" src="images/logo.svg" alt="DevExpress logo" />
                </NavLink>
                <NavLink aria-label="Close menu" href="@AddDrawerStateToUrlToggled(LocalPath)">
                    <DxButton aria-label="Close menu" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" CssClass="btn-icon-only" IconCssClass="@(ToggledDrawer ? "icon icon-close" : "icon icon-menu")"></DxButton>
                </NavLink>
            </div>
        </HeaderTemplate> *@
        <BodyTemplate>
            <div class="w-100">
                <NavMenu></NavMenu>
            </div>
        </BodyTemplate>
        <TargetContent>
            <div class="drawer-content">
                <div class="nav-buttons-container">
                    @* <NavLink aria-label="Open menu" href="@AddDrawerStateToUrlToggled(LocalPath)" class="menu-button">
                        <DxButton aria-label="Open menu" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" CssClass="btn-icon-only" IconCssClass="icon icon-menu"></DxButton>
                    </NavLink>
                    @if (LocalPath != "/")
                    {
                        <NavLink href="@AddDrawerStateToUrl("/")" class="button-link">
                            <DxButton Text="Back to Home" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" CssClass="back-button" IconCssClass="icon icon-back"></DxButton>
                        </NavLink>
                    } *@
                </div>
                <div class="page-content-container">
                    @Body
                </div>
            </div>
        </TargetContent>
        <FooterTemplate>
            <div class="navigation-drawer-footer">
                @* <NavLink href="https://docs.devexpress.com/Blazor/400725/blazor-components" class="button-link">
                    <DxButton Text="Docs" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-docs"></DxButton>
                </NavLink>
                <NavLink href="https://demos.devexpress.com/blazor/" class="button-link">
                    <DxButton Text="Demos" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-demos"></DxButton>
                </NavLink> *@
            </div>
        </FooterTemplate>
    </Drawer>
</div>

@code {
    string LocalPath => new Uri(NavigationManager.Uri).LocalPath;

    bool _layoutToggled;
    bool _themeSwitcherShown;
    bool _isDesktop = true;

    bool LayoutToggled
    {
        get { return _layoutToggled; }
        set
        {
            if (_layoutToggled != value)
            {
                _layoutToggled = value;
                if (!_isDesktop && _layoutToggled)
                    ThemeSwitcherShown = false;
            }
        }
    }

    bool ThemeSwitcherShown
    {
        get { return _themeSwitcherShown; }
        set
        {
            if (_themeSwitcherShown != value)
            {
                _themeSwitcherShown = value;
                if (!_isDesktop && _themeSwitcherShown)
                    LayoutToggled = false;
            }
        }
    }

    void ToggleThemeSwitcherPanel()
    {
        ThemeSwitcherShown = !ThemeSwitcherShown;
    }

    string GetThemeSwitcherCssClass()
    {
        return "theme-settings " + ThemeSwitcherShown;
    }
}
