@using MC.Office.Blazor.Testing.Components.Layout.Button
@inherits DrawerStateLayoutComponentBase
@inject NavigationManager NavigationManager

<div class="demo-header-container">
    <nav class="demo-header p-0 navbar navbar-dark" aria-label="Header menu">
        <ToggleButton @bind-Toggled="@LayoutToggled" />
        <div class="logo-image">
            <a href="https://www.devexpress.com/" target="_blank" title="DevExpress">
                <span class="logo-img"></span>
            </a>
            <div class="logo-sep"></div>
            <a href="" target="_blank" title="Blazor Demos Home Page">
                <span class="logo-sec-img"></span>
            </a>
        </div>
        <div class="demo-btn-container">
            <DxButton NavigateUrl="https://go.devexpress.com/DevexpressDownload_UniversalTrial.aspx"
                      CssClass="download-btn"
                      IconCssClass="fa-solid fa-download"
                      Text="Free Trial" SizeMode="SizeMode.Large"></DxButton>
            <DxButton NavigateUrl="https://github.com/DevExpress/blazor"
                      CssClass="github-btn"
                      IconCssClass="fa-brands fa-github"
                      RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline"
                      Text="GitHub" SizeMode="SizeMode.Large"></DxButton>
            <div class="btn-sep"></div>
            <DxButton Click="@ToggleThemeSwitcherPanel" CssClass="@GetThemeSwitcherCssClass()" SizeMode="SizeMode.Large"
                      RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" IconCssClass="fa-solid fa-palette"
                      aria-label="Themes"
                      aria-haspopup="True"
                      aria-expanded="@(ThemeSwitcherShown.ToString())">
            </DxButton>
        </div>
        @* <ThemeSwitcher @bind-Shown="@ThemeSwitcherShown" /> *@
    </nav>
</div>

<div class="page">
    <Drawer CssClass="navigation-drawer" PanelWidth="240px" Toggled="@LayoutToggled">
        <HeaderTemplate>
            <div class="drawer-header">
                <!-- Search -->
                <div class="drawer-search py-2">
                    <DxTextBox CssClass="drawer-search-box" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </div>
            </div>
        </HeaderTemplate>
        <BodyTemplate>
            <div class="w-100">
                <NavMenu @ref="@NavMenuRef" />
            </div>
        </BodyTemplate>
        <TargetContent>
            @* Breadcrum *@
            @if (NavMenuRef?.BreadcrumbItems?.Any() == true)
            {
                <nav class="dx-breadcrumb">
                    @for (int i = 0; i < NavMenuRef.BreadcrumbItems.Count; i++)
                    {
                        var item = NavMenuRef.BreadcrumbItems[i];
                        var isLast = i == NavMenuRef.BreadcrumbItems.Count - 1;

                        <span class="dx-breadcrumb-item @(isLast ? "active" : "")"
                              @onclick="@(() =>
                              {
                                  if (!isLast)
                                  {
                                      NavigationManager.NavigateTo(item.NavigateUrl);
                                  }
                              })">
                            @item.Text
                        </span>

                        @if (!isLast)
                        {
                            <span class="breadcrumb-sep">›</span>
                        }
                    }
                </nav>
            }
            <div class="drawer-content">
                <div class="page-content-container">
                    @Body
                </div>
            </div>
        </TargetContent>
        <FooterTemplate>
            <div class="navigation-drawer-footer">
                @* <NavLink href="https://docs.devexpress.com/Blazor/400725/blazor-components" class="button-link">
                    <DxButton Text="Docs" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-docs"></DxButton>
                </NavLink>
                <NavLink href="https://demos.devexpress.com/blazor/" class="button-link">
                    <DxButton Text="Demos" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-demos"></DxButton>
                </NavLink> *@
            </div>
        </FooterTemplate>
    </Drawer>
</div>

@code {
    private NavMenu? NavMenuRef;

    string LocalPath => new Uri(NavigationManager.Uri).LocalPath;

    bool _layoutToggled;
    bool _themeSwitcherShown;
    bool _isDesktop = true;

    bool LayoutToggled
    {
        get { return _layoutToggled; }
        set
        {
            if (_layoutToggled != value)
            {
                _layoutToggled = value;
                if (!_isDesktop && _layoutToggled)
                    ThemeSwitcherShown = false;
            }
        }
    }

    bool ThemeSwitcherShown
    {
        get { return _themeSwitcherShown; }
        set
        {
            if (_themeSwitcherShown != value)
            {
                _themeSwitcherShown = value;
                if (!_isDesktop && _themeSwitcherShown)
                    LayoutToggled = false;
            }
        }
    }

    void ToggleThemeSwitcherPanel()
    {
        ThemeSwitcherShown = !ThemeSwitcherShown;
    }

    string GetThemeSwitcherCssClass()
    {
        return "theme-settings " + ThemeSwitcherShown;
    }
}
