
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @DxResourceManager.RegisterTheme(ActiveTheme)
    @DxResourceManager.RegisterScripts()
    <link href="@Assets["css/site.css"]" rel="stylesheet" />
    <link href="@Assets["MC.Office.Blazor.Testing.styles.css"]" rel="stylesheet" />
    
    @* Font Awesome *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>
</html>

@code {
    static readonly ITheme ActiveTheme = Themes.Fluent.Clone(properties => {
        properties.Mode = ThemeMode.Light;
    });

}
